* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


body {
    width: 100%;
    background: #E5E7EB;
    position: relative;
    display: flex;
    
}
.menu{
    background: rgb(21, 27, 75);
    border-radius: 25px;
    padding: 30px 0 0 30px;
    width: 300px;
    height: 390px;
}
.post{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 20px;
}
ul{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    padding-right: 50px;
    box-shadow: 1px 1px 5px ;
}
.post ul{
    flex-direction: column;
}
.post ul li{
    list-style: none;
    margin-bottom: 10px;
}
h3{
   color: white; 
  
}

.wrapper{
    margin-left: 10px;
}
/*
.holder{
    padding: 3px;
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
*/
h5 .choose_color{
    position: relative;
}
.input-colors{
    position: absolute;
}
.colors{
    display: flex;
    flex-direction: row;
}

.text_input{
    margin-left: 10px;
}

#uploadForm{
    margin-left: 10px;
}

.upload_file{
    flex-direction: row;
}

#color{
    width: 25px;
    height: 20px;
    border-radius: 5px;
}
.create_post{
    margin-left: 100px;
    margin-top: 35px;
}